<div class="body-container" fxLayout="column nowrap" fxLayoutAlign= "stretch stretch">
  <!-- Palindromes -->
  <div fxLayout="column nowrap" fxLayoutAlign= "stretch stretch">
    <mat-label id="palindromesLabel" fxFlex class="font-style"> Palindromes </mat-label>
    <mat-list role="list" fxLayout="column nowrap" fxLayoutAlign= "stretch stretch">
      <mat-list-item  mat-raised-button role="listitem" *ngFor="let palindrome of palindromes?.palindromes" fxFlex> {{palindrome}} </mat-list-item>
    </mat-list>
    </div>

  <!-- count -->
  <div fxFlex>
    <mat-label id="palindromesCountLabel" fxFlex class="font-style"> Palindrome Count </mat-label>
    <mat-label id="palindromCountlabel" fxFlex> {{palindromes?.palindromeCount}}</mat-label>
  </div>

  <!-- count -->
  <div fxFlex>
    <mat-label id="palindromesLabel" fxFlex class="font-style"> Count </mat-label>
    <mat-label id="countlabel" fxFlex> {{palindromes?.count}}</mat-label>
  </div>

    <!-- reverse count -->
    <div fxFlex>
      <mat-label id="palindromesLabel" fxFlex class="font-style"> Reverse Count </mat-label>
      <mat-label id="countlabel" fxFlex> {{palindromes?.reverseCount}}</mat-label>
    </div>
</div>
